*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #eee;
}
#box{
  width: 80%;
  margin: 100px auto;
  position: relative;
}

#box img{
  width: 100%;
  cursor: pointer;
}

ul{
  list-style: none;
  position:absolute;
  right: 44px;
  bottom: 24px;
  cursor: pointer;
}

li{
  width: 20px;
  height: 20px;
  background-color: #0000ff;
  float: left;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  color: #fff;
  margin-left: 10px;
  font-size: 14px;
}
li:first-of-type{
  background-color: #f00;
}

span{
  background-color: rgba(0,0,0,.5);
  position: absolute;
  font-size: 40px;
  top: 40%;
  height: 60px;
  color: #ffffff;
  line-height: 60px;
  width: 36px;
  text-align: center;
  cursor: pointer;
  display: none;
}

#box span:first-of-type{
  left: 0;
}
#box span:last-of-type{
  right: 0;
}

